{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% load static %}

{% block title %}{% trans 'Events' %}{% endblock %}



{% block body %}
{{ block.super }}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">{% trans 'Add an event' %}</h1>
            <form enctype="multipart/form-data" class="form-horizontal" method="post">
                {% csrf_token %}
                {{ form.media }}

                {% bootstrap_field form.title %}
                {% bootstrap_field form.description %}

                <div class="row">
                  <div class="col-xs-5">
                    {% bootstrap_field form.date_begin %}
                  </div>
                  <div class="col-xs-1"></div>
                  <div class="col-xs-5">
                    {% bootstrap_field form.date_end %}
                  </div>
                </div>
                <div class="alert alert-info" role="alert">{% trans 'You can use the button on the right of this field to choose the date and the time' %}</div>

                {% bootstrap_field form.address %}
                {% bootstrap_field form.event_enabled %}

                {% buttons %}
                    <button type="submit" class="btn btn-primary">{% bootstrap_icon star %}{% trans 'Add event' %}</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
