{% load static %}
{% load i18n %}

<!doctype html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>{{ collective_name }} | {% block title %}{% endblock %}</title>
            <link rel="shortcut icon" type="image/png" href="{% static 'ressources/logo/favicon_bronycub.png' %}" />
            {% block stylesheets %}
                <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap.min.css' %}">
                <link rel="stylesheet" type="text/css" media="screen" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
                <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/sugarcub.css' %}">
                <link rel="stylesheet" type="text/css" media="screen" href="{% static 'zocial/zocial.css' %}">
                <link rel="stylesheet" type="text/css" media="screen" href="{% static 'cookieconsent2/build/dark-floating.css' %}">
                <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
                {% block extrastyle %}{% endblock %}
            {% endblock %}
            {% block javascripts %}
                <script type="application/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
                <script type="application/javascript" src="{% static 'js/jquery-setup.js' %}"></script>
                <script type="application/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
                <script type="application/javascript" src="{% static 'js/jquery.expander.js' %}"></script>
                <script type="application/javascript" src="{% static 'js/expender.js' %}"></script>
                <script type="application/javascript" src="{% static 'js/konami.js' %}"></script>
                <script type="application/javascript" src="{% static 'js/moment-with-locales.min.js' %}"></script>
                <script type="application/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
                <script>
                    window.cookieconsent_options = {
                        theme: false,
                        message: 'Ce site utilise des cookies pour vous assurez une meilleure expérience possible.',
                        dismiss: 'OK :)',
                        markup: [
                            '<div class="cc_banner-wrapper">',
                                '<div class="cc_banner cc_container cc_container--open">',
                                    '<a href="#null" data-cc-event="click:dismiss" target="_blank" class="cc_btn cc_btn_accept_all">OK /)</a>',
                                    '<p class="cc_message">Ce site utilise des cookies pour vous assurez une meilleure expérience possible.</p>',
                                '</div>',
                            '</div>'
                        ]
                    };
                </script>
                <script type="application/javascript" src="{% static 'cookieconsent2/build/cookieconsent.min.js' %}"></script>
                {% block extrascripts %}{% endblock %}
            {% endblock %}

            {% block blockbots %}{% endblock %}
            {% block extrahead %}{% endblock %}
        {% endblock %}
    </head>
    <body>

        {% block header %}
            <header>
                <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a href="{% url 'core:home' %}" class="navbar-brand">{{ collective_name }}</a>
                            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse" id="navbar-main">
                            <ul class="nav navbar-nav">
                                <li><a href="{% url 'users:members' %}"><i class="fa fa-user fa-1x"></i>&nbsp;{% trans 'Members' %}</a></li>
                                <li><a href="{% url 'agenda:list' %}"><i class="fa fa-calendar fa-1x"></i>&nbsp;{% trans 'Agenda' %}</a></li>
                                <li><a href="{% url 'core:hq' %}"><i class="fa fa-glass fa-1x"></i>&nbsp;{% trans 'HQ' %}</a></li>
                                <li><a href="https://goo.gl/photos/VisPhiPgauSD8QXn7{# url '' #}"><i class="fa fa-picture-o fa-1x"></i>&nbsp;{% trans 'Medias' %}</a></li>
                                <li><a href="{% url 'core:map' %}"><i class="fa fa-map-marker fa-1x"></i>&nbsp;{% trans 'Map' %}</a></li>
                                <li><a href="{% url 'core:friends' %}"><i class="fa fa-heart fa-1x"></i>&nbsp;{% trans 'Friends' %}</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="https://kiwiirc.com/client?settings=3ebf3eb7a40c2b03f47b918eb2f7087a" target="_blank"><i class="fa fa-comment fa-1x"></i>&nbsp;{% trans 'Tchat' %}</a></li>
                                <li><a href="https://vroom.im/bronycub" target="_blank"><i class="fa fa-video-camera fa-1x"></i>&nbsp;{% trans 'Visio' %}</a></li>
                                <li><a href="https://bronycub.freshdesk.com/support/tickets/new" target="_blank"><i class="fa fa-ticket fa-1x"></i>&nbsp;{% trans 'Ticket' %}</a></li>
                                {% if user.is_authenticated %}
                                    <li role="presentation" class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                            <img class="img-header" alt="avatar" src="
                                                {% if user.profile.avatar.small %}
                                                    {{ user.profile.avatar.small.url }}
                                                {% else %}
                                                    {% static 'ressources/logo/icon_bronycub.png' %}
                                                {% endif %}
                                            "/>
                                            {{ user.username }}
                                            <span class="caret"></span>

                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="{% url 'users:profile' %}" class=""><i class="fa fa-user fa-1x"></i>&nbsp;{% trans 'Profile' %}</a></li>
                                            {% if user.is_staff %}
                                                <li><a href="{% url 'admin:index' %}" class=""><i class="glyphicon glyphicon-cog"></i>&nbsp;{% trans 'Admin' %}</a></li>
                                            {% endif %}
                                            <li><a href="{% url 'auth_logout' %}"><i class="fa fa-sign-out fa-1x"></i>&nbsp;{% trans 'Logout' %}</a></li>
                                        </ul>
                                    </li>
                                {% else %}
                                    <li><a href="{% url 'auth_login' %}"><!-- data-toggle="modal" data-target="#LoginForm"--><i class="fa fa-sign-in fa-1x"></i>&nbsp;{% trans 'Login' %}</a></li>
                                    <li><a href="{% url 'users:pre_register' %}"><i class="fa fa-plus fa-1x"></i>&nbsp;{% trans 'Signup' %}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
        {% endblock %}

        <div id="content"
            {% if fillPage %}
                class="min-size full-height"
            {% endif %}
        >
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        {% include 'banner.html' %}
                    </div>
                </div>
            </div>
            {% block body %}
                <div id="WhenIm"></div>
            {% endblock %}

            {% block footer %}
                <footer class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-md-7 col-md-offset-1">
                            <div class="well">
                                <a href="http://asbf.fr" target="_blank"><img src="http://wiki.asbf.fr/_media/wiki/badge_acteur_solidaire.png" alt="logo_asbf" height="60px" style="float:left; padding-right:20px;" /></a>
                                <p>Depuis 2015, BronyCUB est Acteur Solidaire de l'association <a href="http://asbf.fr" target="_blank">ASBF</a> réunissant tous les Bronies Francophone solidairement pour des actions humanitaires. Ainsi, notre collectif agit sur Bordeaux au nom de cette association.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3 text-center">
                            <h4>
                                <i class="fa fa-envelope"></i>&nbsp;&nbsp;{% trans 'Contact us :' %}
                                <img src="{% static 'img/derpy.gif' %}" width="50" alt="DerpyHooves"/>
                            </h4>
                                <a class="btn btn-primary btn-lg" href="mailto:{{ mailing_list }}">{{ mailing_list }}</a>
                              <p class="powered-by">
                                <a href="http://sugarcub.org">{% trans 'Powered by' %} <img src="http://sugarcub.org/img/logo_sugarcub.png" alt="Logo SugarCUB" height="30px"></a>
                              </p>
                        </div>
                    </div>
                </footer>
            {% endblock %}
        </div>
    </body>
</html>
